.button {
    border-radius: 0.8rem;
    padding: 1.2rem 5.2rem;
    font: var(--font-l-text);
    font-weight: 700;
    cursor: pointer;
    transition:
        color 300ms ease-out,
        background 300ms ease-out;

    &--primary {
        background-color: var(--color-primary-40);
        color: var(--color-primary-0);

        &:hover {
            background-color: var(--color-primary-80);
        }
    }
}
