html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: "DMSans";
    line-height: 1;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;

    * {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
