.login {
    $self: &;

    &__title {
        font: var(--font-m-title);
        font-weight: 700;
        text-align: center;
        padding-bottom: 0.8rem;
    }

    &__sub-title {
        font: var(--font-m-text);
        text-align: center;
        padding-bottom: 2.8rem;
    }

    &__form {
        display: flex;
        flex-direction: column;

        #{$self}__input {
            &:first-child {
                padding-bottom: 2.8rem;
            }
        }

        #{$self}__check-forget {
            display: flex;
            justify-content: space-between;
            padding: 3.2rem 0;

            a {
                font: var(--font-sm-text);
                color: var(--color-primary-40);
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__button {
        text-align: center;
    }
}
