.input {
    $self: &;
    position: relative;

    &__label {
        font: var(--font-m-text);
        font-weight: 700;
    }

    &__field {
        font: var(--font-m-text);
        color: var(--color-primary-100);
        background-color: var(--color-secondary-20);
        border: 1px solid var(--color-secondary-100);
        border-radius: 0.8rem;
        margin-top: 0.4rem;
        padding: 1.8rem;
        box-sizing: border-box;

        &--full-width {
            width: 100%;
        }

        &--error {
            border-color: var(--color-primary-40);
        }

        &::placeholder {
            color: var(--color-secondary-120);
        }
    }

    &__error {
        position: absolute;
        bottom: -2.4rem;
        display: flex;
        align-items: center;

        #{$self}__error-message {
            font: var(--font-s-text);
            color: var(--color-primary-40);
            padding-left: 0.4rem;
        }
    }
}
