<div class="input" [formGroup]="formGroup">
    <label [for]="inputData.id" class="input__label">{{
        inputData.label
    }}</label>
    <input
        [type]="inputData.type"
        [name]="inputData.id"
        [placeholder]="inputData.placeholder"
        [class.input__field--full-width]="fullWidth"
        [class.input__field--error]="isError"
        [formControlName]="inputData.id"
        class="input__field"
        autocomplete="off"
    />
    @if (isError) {
        <div class="input__error">
            <img src="assets/svg/error-exclamation.svg" alt="error icon" />
            <span class="input__error-message">Lorem ipsum</span>
        </div>
    }
</div>
