<footer class="footer">
    <div class="footer__content-container">
        <div class="footer__contact-us">
            <h2>Contáctanos</h2>
            <span>01 213-3333</span>
            <a href="mailto:mapfre.beneficios@mapfre.com.pe">{{
                "mapfre.beneficios@mapfre.com.pe"
            }}</a>
        </div>
        <h3>Mapa de Sitio</h3>
    </div>
    <div class="footer__content-container">
        <div class="footer__logos">
            <div class="footer__logo-enterprise"></div>
            <img src="assets/svg/logo-mapfre-white.svg" alt="logo-mapfre" />
        </div>
        <div class="footer__info">
            <p>MAPFRE © 2024 Todos los derechos reservados</p>
            <p>MAPFRE PERU COMPAÑÍA DE SEGUROS Y REASEGUROS</p>
            <p>RUC 20418896915</p>
        </div>
    </div>
</footer>
